<div class="module log">
	<table>
		<caption>Recent Messages</caption>
		<thead>
			<tr>
				<th scope="column">Initiator</th>
				<th scope="column">Messages</th>
			</tr>
		</thead>
		<tbody>
			<% for msg in @raw_messages %>
			<tr>
				<td><%= msg.reporter.phone %></td>
				<td class="messages">
					<table>
						<tbody>
							<tr class="in">
								<td class="dir" title="Incoming">&laquo;</td>
								<td><%= msg.text.gsub("\n", "<br />") %></td>
							</tr>
							<% for reply in msg.children %>
							<tr class="out">
								<td class="dir" title="Outgoing">&raquo;</td>
								<td><%= reply.text.gsub("\n", "<br />") %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
